@font-face {
    font-family: 'ZeldaFont';
    /* Choose a name for your font */
    src: url('hylia.otf') format('opentype');
    /* You can specify additional font formats (e.g., woff, woff2) for better browser compatibility */
}

body {
    font-family: 'ZeldaFont', sans-serif;
    /* Use the font-family name specified in @font-face */
}